@media screen and (max-width: 900px){
    .haut{
        display: none;
    }
    .ima{
        width: 100%;
        position: relative;
        margin-top: 750px;
    }
    .card-body{
        min-width: 95%;
        margin-left: -190px;
    }
    .btn{
        left: -210px;
        top: 250px;
        display: none;
    }
    .nav-item{
        margin-left: 10px;
    }
    .bandess{
        margin-top: -200px;
    }
    .rect1{
        min-width: 95%;
    }
    .rect2{
        min-width: 90%;
    }
    .sous{
        
    }
    
    
    
}